@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
}

:root {
  --bs-primary: #ff0000;
  --bs-secondary: #00ff00;
  --bs-navbar-bg: #000000;
  --bs-text-color: #ffffff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #0e0e0e !important;
}

#indexBody {
  background: url("../img/backgrounds/forest.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#createCharacterBody {
  background: url("../img/backgrounds/bonfire.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#createSystemBody {
  background: url("../img/backgrounds/city.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#characterBody {
  background: url("../img/backgrounds/dices.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#systemBody {
  background: url("../img/backgrounds/city2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

[class*="primary"] {
  background-color: #12d82c;
  border: #12d82c;
}

[class*="success"] {
  background-color: #12d82c;
  border: #12d82c;
}

[class*="danger"] {
  background-color: #d81212;
  border: #d81212;
}

[class*="warning"] {
  background-color: #5712d8 !important;
  border: #5712d8 !important;
}

[class*="info"] {
  background-color: #126ed8 !important;
  border: #126ed8 !important;
}

[class*="bg-dark"] {
  background-color: #0e0e0e !important;
}
